<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIGN UP</title>
  
  <link rel="stylesheet" href="{%  static 'static/css/signup.css' %}">
</head>
<body>
  
  <div class="hero-section">
      <form action="/user/signup/" class="main-form" method="POST">
            {% csrf_token %}
          <div class="header">
          <h5>Sign Up</h5>
          </div>
          <div class="form-group">
            <input type="text" name="first_name" placeholder='First name*' class='form-input'>
          </div>

          <div class="form-group">
            <input type="text" name="last_name" placeholder='Last name*' class='form-input'>
          </div>
          <div class="form-group">
            <input type="email" name="email" id="id__email"  class ='form-input' placeholder="E-mail">
          </div>
          <div class="form-group">
            <input type="username" name="username" id="id__email"  class ='form-input' placeholder="username">
          </div>
          <div class="form-group">
            <input type="password" name="password" id="id__password" class = 'form-input' placeholder='Create password'>
          </div>
          <p>Password must be at least 8 charater long.</p>
          
          <div class="form-button">
            <button type ='submit' class="btn">Sign Up</button>
          </div>
          <div class="form-footer">
          <p>Already a member?</p>
          <a href="">Login</a>
          </div>
      </form>
    </div>

</body>
</html>